{% load staticfiles %}
<link type="text/css" href="{% static "home.css" %}" />
<link href="{% static 'home.css' %}"
      rel="stylesheet" media="screen">
<div id="splash">
<img class="profile" src="{% static "profile.jpg" %}"/>
<h1>Eric Hurst</h1>
<h2>Salt lake city, Utah</h2>
<h2>Python devloper, Programming enthusiest and Ultimate Frisbee player</h2>
</div>
<div id="content">
    <div>
        Projects
    </div>
    <div>
        Blog 
    </div>
    <div>
        Resume
    </div>
</div>
<div id="footer">
    Contact Me
</div>

