{% extends "home/base.html" %}
{% load staticfiles %} 

{% block content %}
  <div id="splash" class="jumbotron row-fluid popout">
    <div class="span12">
      <img width="200px" height="200px" style="margin:10px;"class="img-circle pull-left popout" src="{% static "profile.jpg" %}">

      <h1>Eric Hurst</h1>

      <h2>Salt Lake City, Utah</h2>

      <h2>Python devloper, Programming enthusiest and Ultimate
      Frisbee player</h2>
    </div>
  </div>

  <div id="content" class="row">
      <div class="col-md-4 text-center">
        <div class="round-corner popout">
          Projects
        </div>
      </div >

      <div class="col-md-4 text-center">
        <div class="round-corner popout">
          Blog
        </div>
      </div >

      <div class="col-md-4 text-center">
        <div class="round-corner popout">
          Resume
        </div>
      </div >
  </div>

  <div id="footer" class="row-fluid">
    <div class="col-md-12 text-center round-corner popout">
      Contact Me
    </div>
  </div>
{% endblock %}
