{% extends "home/base.html" %}
{% load staticfiles %} 

{% block content %}
  <div id="splash" class="row-fluid">
    <div class="col-md-12 jumbotron popout">
      <div class="col-md-3">
      <img width="100%"  class="img-circle pull-left popout" src="{% static "profile.jpg" %}">
      </div>

      <div class="col-md-9">
      <h1>Eric Hurst</h1>

      <h2>Salt Lake City, Utah</h2>

      <h2>Python developer, Programming expert and Ultimate
      Frisbee player</h2>
      </div>
    </div>
  </div>

  <div class="row-fluid" style="margin-top:10px">
     <div class="col-md-12 popout round-corner">
         <h1 class="text-center">About Me</h1>
         <p>I believe that software can bring people together. I enjoy enabling others to create, share, and connect through the amazing world of computing. I believe that code itself is an art, and I strive each day to become a master of my craft. </p>
         <p>I am a recent grad from the University of Utah. I have been interested in computer programming and software engineering since my high school days. I taught myself by checking books out of the library and teaching myself BASIC. From there I graduated to more mature languages like Java and C/C++. After Completing the AP Computer Science tests in high school, I knew that I wanted to work in software.</p>
         <p>I have worked a variety of different roles and in a variety of different contexts over the past few years, from web development to embedded systems. I have a wide array of experience and knowledge of different domains. My strong areas include working with Python, and back-end web development. This site itself is programmed using Django and python. 
     </div>

  </div>

  <div id="content" class="row">

      <div class="col-md-4 text-center">
        <div style="padding-top:.5pt; padding-bottom:.5pt;" class="round-corner popout">
          <a href="{% url "resume.views.index" %}">
          <h1>
          Resume
          </h1>
          </a>
        </div>
      </div >
      <div class="col-md-4 text-center">
        <div style="padding-top:.5pt; padding-bottom:.5pt;" class="round-corner popout">
          <h1>
          Contact Me 
          </h1>
        </div>
      </div >
  </div>

  <div id="footer" class="row-fluid">
  </div>
{% endblock %}
