{% extends "home/base.html" %}

{% block content %}
<article style="padding:15px;" class="row-fluid popout">
<div>
  <h1><span>Eric Hurst</span></h1>
  <strong>Salt Lake City, Utah, U.S.A</strong>

  <p><a href="mailto:eric.hurst97@gmail.com">eric.hurst97@gmail.com</a></p>

</div>

<h3>Education</h3>
<hr>

<div id="education">
{% for school in edu %}
    <div>{{ school.school }} </div>
    <div>Graduation Date: {{ school.grad_date }} </div> 
    <div>GPA: {{ school.gpa }} </div>
    <div id="classes">
    <ul>
    {% for c in school.class_set.all %}
        <li> {{ c.name }} </li>
    {% endfor %}
    </ul>
    </div>
{% endfor %}
</div>

<p>
<span>Computer Science Major</span>
<br>
<span>Notable classes: Image Processing, Advanced Compilers, Machine Learning, Network Systems, Probability and Statistics</span>
</p>

<h3>Skills</h3>
<hr>

<p>
<span>Computer Languages:</span>
<br/>
<span>Extensive Knowledge:</span>
<span>Python, C, C#, Javascript, PostgreSQL, HTML/CSS, Bash</span>
<br/>
<span>Basic Knowledge: Racket, Clojure, d3.js, jqPlot, jQuery, Objective C, Java/Android</span>
</p>

<p>
<span>Platforms:</span>
<span>Linux, Android, iOS, PS Vita</span>
</p>

<p>
<span>Spoken Languages:</span>
<span>English, Portuguese (Brazilian)</span>
</p>

<h3>
Relevant Work Experience
</h3>
<hr>


<p>May 2014 - Current</p>
<p>Fusion IO/Sandisk, Salt Lake City, UT</p>

<p>Firmware Engineer I</p>

<ul>
  <li>Designed and implemented embedded systems</li>
  <li>Created tools to support embedded systems</li>
  <li>Implemented unit and system testing using python unittest</li>
</ul>

<p>May 2013 - May 2014</p>
<p>Fusion IO, Salt Lake City, UT</p>
<p>Software Engineer Intern</p>

<ul>
  <li>Implemented and maintained automated testing and regression system</li>

  <li>Designed and presented performance experiments on development hardware</li>

  <li>Collected, processed and visualized statistics on nightly regressions</li>

  <li>Skills used: Advanced Linux administration, Python, database administration, jqPlot, PostgreSQL<li>
</ul>


<p>May 2012 - April 2013</p>

<p>V3 Systems, Salt Lake City, UT</p>

<p>Software Engineer Intern</p>

<ul>
  <li>Implemented and maintained automated build and testing system</li>

  <li>Basic development and bug fixing on backend web services</li>

  <li>General python development</li>

  <li>Skills used: Advanced Linux administration, Python, PostgreSQL, SQLAlchemy, WSGI</li>
</ul>

<h3>Activities</h3>
<hr>
<strong>2009-2011</strong>
<p>LDS Missionary in Manaus, Brazil for 2 Years</p>
<p>Description:</p>
<p>Served as a religious
  missionary for the Church of Jesus Christ of Latter Day Saints
  for 2 complete years, where I met and taught people about the
  doctrines of the church</p>
<p>Skills learned:<br/>
	Ability to set goals
  and make plans, Work with others to accomplish goals, Communicate
  and teach others, Learned to speak Portuguese
  fluently.
</p>

<h3>Projects</h3>
<hr>

<ul>
  <li>Have released two different applications on the Android App store. Available at <a href="https://play.google.com/store/search?q=regionsyx">https://play.google.com/store/search?q=regionsyx</a></li>

  <li>Designed and implemented a
  video game for the PS Vita platform. Released in April 2014. More
  information at <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.origamikami.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGybFLBAOqdnJcjKUBN-VLRY_Fkcw">
  www.origamikami.com</a></li>
</ul>
</article>
{% endblock %}
