{% extends "home/base.html" %}

{% block content %}
<div>
  <h1 class="c3"><span class="c13 c25">Eric Hurst</span></h1>

  <p class="c3"><span class="c18">1056 E Wilson Ave #3, Salt Lake City,
  Utah 84105</span><span class=
  "c4 c18">&nbsp;&acirc;&euro;&cent;</span> <span class=
  "c18">435.565.1397</span><span class=
  "c4 c18">&nbsp;&acirc;&euro;&cent;</span> <span class=
  "c28"><a class="c21" href=
  "mailto:eric.hurst97@gmail.com">eric.hurst97@gmail.com</a></span></p>

</div>

<p class="c3 c11"><span class="c4 c8">Education</span></p>
<hr>

<div id="education">
{% for school in edu %}
    <div>{{ school.school }} </div>
    <div>Graduation Date: {{ school.grad_date }} </div> 
    <div>GPA: {{ school.gpa }} </div>
    <div id="classes">
    <ul>
    {% for c in school.class_set.all %}
        <li> {{ c.name }} </li>
    {% endfor %}
    </ul>
    </div>
{% endfor %}
</div>

<p class="c12 c14">
<span class="c1 c6">Computer Science Major</span>
<span class="c1">&nbsp;Image Processing, Advanced Compilers, Machine Learning, Network Systems, Probability and Statistics</span>
</p>

<p class="c3 c11"><span class="c4 c8">Skills</span></p>
<hr>

<p class="c14 c12">
<span class="c2 c6">Computer Languages:</span>
<br/>
<span class="c9 c1">Extensive Knowledge:</span>
<span class="c1">Python, C, C#, Javascript, PostgreSQL, HTML/CSS, Bash</span>
<br/>
<span>Basic Knowledge: Racket, Clojure, d3.js, jqPlot, jQuery, Objective C, Java/Android</span>
</p>

<p class="c14 c12">
<span class="c1 c6">Platforms:</span>
<span class="c1">Linux, Android, iOS, PS Vita</span>
</p>

<p class="c14 c12">
<span class="c1 c6">Spoken Languages:</span>
<span>English, Portuguese (Brazilian)</span>
</p>

<p class="c3 c11">
<span class="c4 c8">Relevant Work Experience</span>
</p>
<hr>


<p class="c5 c19"><span class="c1 c6">May 2014 - Current</span></p>
<p class="c5 c19"><span class="c20 c6">Fusion IO/Sandisk, Salt Lake
City, UT</span></p>

<p class="c5 c19"><span class="c1 c6">Firmware Engineer
I</span></p>

<ul class="c2 lst-kix_olegw36ffh21-0 start">
  <li class="c5 c23"><span class="c1">Designed and implemented
  embedded systems</span></li>

  <li class="c5 c23"><span class="c1">Created tools to support
  embedded systems</span></li>

  <li class="c5 c23"><span class="c1">Implemented unit and system
  testing using python unittest</span></li>
</ul>

<p class="c5 c19 c22"></p>

<p class="c5 c19"><span class="c1 c6">May 2013 - May
2014</span></p>

<p class="c5 c19"><span class="c20 c6">Fusion IO, Salt Lake
City, UT</span></p>

<p class="c5 c19"><span class="c1 c6">Software Engineer
Intern</span></p>

<ul class="c2 lst-kix_jdy1cg34soi7-0 start">
  <li class="c5 c23"><span class="c1">Implemented and maintained
  automated testing and regression system</span></li>

  <li class="c5 c23"><span class="c1">Designed and presented
  performance experiments on development hardware</span></li>

  <li class="c5 c23"><span class="c1">Collected, processed and
  visualized statistics on nightly regressions</span></li>

  <li class="c5 c23"><span class="c1">Skills used: Advanced Linux
  administration, Python, database administration, jqPlot,
  PostgreSQL</span></li>
</ul>

<p class="c3 c7"></p>

<p class="c3 c19 c12"><span class="c1 c6">May 2012 - April
2013</span></p>

<p class="c3 c19 c12"><span class="c6 c20">V3 Systems, Salt Lake
City, UT</span></p>

<p class="c3 c19 c12"><span class="c1 c6">Software Engineer
Intern</span></p>

<ul class="c2 lst-kix_jdy1cg34soi7-0">
  <li class="c3 c10"><span class="c1">Implemented and maintained
  automated build and testing system</span></li>

  <li class="c3 c10"><span class="c1">Basic development and bug
  fixing on backend web services</span></li>

  <li class="c3 c10"><span class="c1">General python
  development</span></li>

  <li class="c3 c10"><span class="c1">Skills used: Advanced Linux
  administration, Python, PostgreSQL, SQLAlchemy, WSGI</span></li>
</ul>

<p class="c3 c7"></p>

<p class="c3 c12">
<span class="c4 c8">Activities</span>
</p>
<hr>

<ul class="c2 lst-kix_atuq0qti182g-0 start">
  <li class="c26 c10">
	<span class="c1 c6">2009-2011</span>
  	<span class="c1 c6">LDS Missionary in Manaus, Brazil for 2 Years</span><br>
  	<span>Description:</span><span class="c1">Served as a religious
  missionary for the Church of Jesus Christ of Latter Day Saints
  for 2 complete years, where I met and taught people about the
  doctrines of the church<br></span>
	<span class="c1 c6">Skills learned:</span>
	<span class="c1">Ability to set goals
  and make plans, Work with others to accomplish goals, Communicate
  and teach others, Learned to speak Portuguese
  fluently.</span>
	</li>
</ul>

<p class="c5">
<span class="c8">Projects</span>
</p>
<hr>

<ul class="c2 lst-kix_yu17bkw028ry-0 start">
  <li class="c3 c10"><span class="c1">Have released two different
  applications on the Android App store. Available at</span>
  <span class="c24"><a class="c21" href=
  "https://play.google.com/store/search?q=regionsyx">https://play.google.com/store/search?q=regionsyx</a></span></li>

  <li class="c3 c10"><span class="c1">Designed and implemented a
  video game for the PS Vita platform. Released in April 2014. More
  information at</span> <span class="c24"><a class="c21" href=
  "http://www.google.com/url?q=http%3A%2F%2Fwww.origamikami.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGybFLBAOqdnJcjKUBN-VLRY_Fkcw">
  www.origamikami.com</a></span></li>
</ul>
{% endblock %}
