{% extends "home/base.html" %}

{% block content %}
<article style="padding:15px;" class="row-fluid popout round-corner">
<div>
  <h1><span>Eric Hurst</span></h1>
  <strong>Salt Lake City, Utah, U.S.A</strong>

  <p><a href="mailto:eric.hurst97@gmail.com">eric.hurst97@gmail.com</a></p>

</div>

<hr>
<section>
<h2>Skills</h2>
<div class="row-fluid">
<div class="col-md-6">
<h4>Python</h4>
<p> 3 years of Python wide ranging development experience. Web development, scripting, tools development, unittest, subprocess</p>
</div>
<div class="col-md-6">
<h4>Back End Web Development</h4>
<p>Database management PostgresSQL, Django experience, Filler text to get the formating correct</p>
</div>
<div class="col-md-6">
<h4>Mobile App Development</h4>
<p>iOS game development, 2 android published apps. 1 Vita published game</p>
</div>
<div class="col-md-6">
<h4>Linux</h4>
<p>Proficient in vim/emacs, scripting, command line proficent, Server management</p>
</div>
</div>
<div class="clearfix"></div>
</section>

<hr>

<section>
<h2>Education</h2>

<div id="education" class="col-md-12">
{% for school in edu %}
    <div>{{ school.school }} </div>
    <div>Graduation Date: {{ school.grad_date }} </div> 
    <div>GPA: {{ school.gpa }} </div>
    <div id="classes">
    <ul>
    {% for c in school.class_set.all %}
        <li> {{ c.name }} </li>
    {% endfor %}
    </ul>
    </div>
{% endfor %}
</div>
<div class="clearfix"></div>
</section>

<hr>

<section>
<h2>Experience</h2>

<div>
<p class="pull-right">May 2014 - Current</p>
<p class="h3">Sandisk <small>Salt Lake City, UT</small></p>
<p>Firmware Engineer I</p>
<ul>
  <li>Designed and implemented embedded systems</li>
  <li>Created tools to support embedded systems</li>
  <li>Implemented unit and system testing using python unittest</li>
</ul>
</div>

<div>
<p class="pull-right">May 2013 - May 2014</p>
<p class="h3">Fusion IO<small> Salt Lake City, UT</small></p>
<p>Software Engineer Intern</p>

<ul>
  <li>Implemented and maintained automated testing and regression system</li>

  <li>Designed and presented performance experiments on development hardware</li>

  <li>Collected, processed and visualized statistics on nightly regressions</li>

  <li>Skills used: Advanced Linux administration, Python, database administration, jqPlot, PostgreSQL</li>
</ul>
</div>


<div>
<p class="pull-right">May 2012 - April 2013</p>
<p class="h3">V3 Systems<small> Salt Lake City, UT</small></p>

<p>Software Engineer Intern</p>

<ul>
  <li>Implemented and maintained automated build and testing system</li>
  <li>Basic development and bug fixing on backend web services</li>
  <li>General python development</li>
  <li>Skills used: Advanced Linux administration, Python, PostgreSQL, SQLAlchemy, WSGI</li>
</ul>
</div>

<div class="row-fluid">
<div class="col-md-6">
<h4>Origami Kami <small><br/><a href="origamikami.com">origamikami.com</a></h4>
<p>Designed and Publish on the PS Vita platform. Lead group of other programmers and interfaced with artists and designers</p>
</div>
<div class="col-md-6">
<h4>Battery Live Wallpaper <small><br/><a href="https://play.google.com/store/apps/details?id=com.regionsyx.battery">https://play.google.com/store/apps/details?id=com.regionsyx.battery</a></small></h4>
<p>Published live wallpaper for the Android platform that showed the current phone's battery level using a number of blocks</p>
</div>
<div class="col-md-6">
<h4>Hitchhikers Quotes <small><br/><a href="https://play.google.com/store/apps/details?id=com.regionsyx.hitchhiker">https://play.google.com/store/apps/details?id=com.regionsyx.hitchhiker</a></small></h4>
<p>Published Android app that showed various quotes from The Hitchhiker's Guide to the Galaxy.</p>
</div>
<div class="col-md-6">
<h4>Portfolio Site <small><br/><a href="abouterichurst.com">abouterichurst.com</a></small></h4>
<p>Built custom portfolio website to showcase Django and Python knowledge</p>
</div>
<div class="col-md-6">
</div>
</div>
<div class="clearfix"></div>
</section>
</article>
{% endblock %}
